@import "vars";
@import "globals";
@import 'container';

.main{
    .main__skills{
        .container{
            .skills__title{
                font-size: 48px;
                line-height: 80px;
                font-weight: 600;
                text-align: center;
                margin-bottom: 89px;
                margin-top: 105px;
            }
            .skills__content{
                display: grid;
                grid-template-columns: repeat(3, 4fr);
                gap: 12px;
                .skills__card{
                    background-color: #F5F5F5;
                    border-radius: 10px;
                }
                .card__title{
                    font-size: 30px;
                    line-height: 80px;
                    font-weight: 600;
                    color: $accent2;
                }
                .card__text1{
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 400;
                    color: $light;
                }
                .card__btn{
                    font-size: 20px;
                    line-height: 30px;
                    font-weight: 500;
                    padding: 15px 51px 15px 52px;
                    color: #fff;
                    background-color: $accent2;
                    border-radius: 5px;
                    display: inline-block;
                }
                .card1{
                    grid-row: 1/3;
                    .img1{
                        padding-left: 22px;
                        padding-right: 21px;margin-top: 37px;
                    }
                    .title1{
                        margin-left: 44px;
                        margin-bottom: -14px;
                        margin-top: 3px;
                    }
                    .text1{
                        padding-right: 45px;
                        padding-left: 43px;
                        margin-bottom: 27px;
                    }
                    .text2{
                        padding-right: 45px;
                        padding-left: 43px;
                        margin-bottom: 32px;
                    }
                    .btn1{
                        padding: 17px 63px 16px 64px;
                        font-size: 18px;
                        margin-left: 43px;
                    }
                }
                .card2{
                    .img2{
                        padding: 4px 19px 0 122px;
                        margin-bottom: -74px;
                        max-width: 293px;
                    }
                    .title2{
                        margin-left: 41px;
                        margin-bottom: -27px;
                    }
                    .text3{
                        padding-left: 41px;
                        padding-right: 50px;
                        margin-bottom: 33px;
                    }
                    .btn2{
                        margin-left: 39px;
                    }
                }
                .card3{
                    .img3{
                        margin-bottom: -29px;
                        padding: 9px 63px 0 1px;
                    }
                    .title3{
                        margin-left: 42px;
                        margin-bottom: -33px;
                    }
                    .text4{
                        padding-right: 37px;
                        padding-left: 43px;
                        margin-bottom: 34px;
                    }
                    .btn3{
                        margin-left: 43px;
                        margin-bottom: 44px;
                    }
                }
                .card4{
                    grid-column-start: 2;
                    grid-column-end: 4;
                    display: grid;
                    grid-template-columns: repeat(2, 4fr);
                    .title4{
                        margin-left: 47px;
                        margin-bottom: -22px;
                        margin-top: 53px;
                    }
                    .text5{
                        padding-right: 52px;
                        padding-left: 48px;
                        margin-bottom: 24px;
                    }
                    .btn4{
                        margin-left: 44px;
                    }
                    .img4{
                        padding: 54px 25px 44px 32px;
                    }
                }
            }
        }
    }
}
@media(max-width: 992px){
    .main{
        .main__skills{
            .container{
                max-width: 945px;
                margin: 0 auto;
                .skills__title{
                    font-weight: 600;
                    font-size: 36px;
                    line-height: 80px;
                    font-style: normal;
                    color: $dark;
                    margin-bottom: 50px;
                    margin-top: 47px;
                }
                .skills__content{
                    display: grid;
                    grid-template-columns: repeat(3, 4fr);
                    .card__text1{
                        font-size: 14px;
                        line-height: 21px;
                        font-weight: 400;
                    }
                    .card__title{
                        font-size: 22px;
                        line-height: 80px;
                        font-weight: 600;
                    }
                    .card__btn{
                        font-size: 18px;
                        line-height: 27px;
                        font-weight: 500;
                        padding: 16px 41px 19px 42px;
                    }
                    .card1{
                        .img1{
                            width: 260px;
                            margin-top: -1px;
                            margin-left: 5px;
                            margin-bottom: -12px;
                            width: 311px;
                        }
                        .title1{
                            margin-bottom: -22px;
                            margin-left: 37px;
                        }
                        .text1{
                            margin-bottom: 19px;
                            margin-left: -5px;
                        }
                        .text2{
                            margin-bottom: 24px;
                            margin-left: -6px;
                        }
                        .btn1{
                            padding: 16px 53px 15px 41px;
                            margin-left: 36px;
                        }
                    }
                    .card2{
                        .img2{
                            padding: 12px 2px 0 84px;
                            width: 345px;
                            margin-bottom: -61px;
                        }
                        .title2{
                            margin-left: 26px;
                        }
                        .text3{
                            padding-left: 29px;
                            padding-right: 23px;
                            margin-bottom: 21px;
                        }
                        .btn2{
                            margin-left: 25px;
                        }
                    }
                    .card3{
                        .img3{
                            margin-top: 10px;
                            margin-bottom: -23px;
                            width: 304px;
                        }
                        .title3{
                            margin-left: 24px;
                            margin-bottom: -27px;
                        }
                        .text4{
                            padding-left: 26px;
                            padding-right: 40px;
                            margin-bottom: 21px;
                        }
                        .btn3{
                            margin-left: 25px;
                            margin-bottom: 26px;
                        }
                    }
                    .card4{
                        .img4{
                            margin-top: -18px;
                            width: 308px;
                        }
                        .title4{
                            margin-left: 24px;
                            margin-bottom: -27px;
                            margin-top: 6px;
                        }
                        .text5{
                            padding-right: 9px;
                            margin-bottom: 15px;
                            padding-left: 32px;
                        }
                        .btn4{
                            margin-bottom: 31px;
                            margin-left: 26px;
                        }
                    }
                }
            }
        }
    }
}
@media(max-width:767px){
    .main{
        .main__skills{
            .container{
                max-width: 690px;
                margin: 0 auto;
                .skills__title{
                    font-size: 30px;
                    margin-bottom: 36px;
                    margin-top: 55px;
                }
                .skills__content{
                    display: grid;
                    grid-template-columns: repeat(3fr, 4fr);
                    .card__title{
                        line-height: 80px;
                        font-size: 20px;
                    }
                    .card__text1{
                        line-height: 20px;
                        font-size: 13px;
                    }
                    .card__btn{
                        line-height: 24px;
                        font-size: 16px;

                    }
                    .card1{
                        .img1{
                            width: 214px;
                            padding: 31px 9px 0px 1px;
                            margin-bottom: 5px;
                        }
                        .title1{
                            margin-bottom: -27px;
                            margin-left: 16px;
                        }
                        .text1{
                            padding-left: 17px;
                            padding-right: 10px;
                        }
                        .text2{
                            padding-left: 17px;
                            padding-right: 10px;
                            margin-left: 1px;
                        }
                        .btn1{
                            font-size: 16px;
                            margin-left: 18px;
                        }
                    }
                    .card2{
                        .img2{
                            width: 232px;
                            padding: 14px 24px 0px 3px;
                        }
                        .text3{
                            padding-left: 19px;
                            margin-bottom: 14px;
                            padding-right: 28px;
                        }
                        .title2{
                            margin-left: 21px;
                        }
                    }
                    .card3{
                        .img3{
                            padding: 34px 14px 0px 2px;
                            margin-top: 0px;
                            margin-left: -7px;
                            margin-bottom: -19px;
                            width: 223px;
                        }
                        .title3{
                            margin-left: 15px;
                        }
                        .text4{
                            padding-left: 18px;
                            margin-bottom: 18px;
                            padding-right: 16px;
                        }
                        .btn3{
                            margin-left: 17px;
                        }
                    }
                    .card4{
                        display: grid;
                        grid-template-columns: 5fr 3fr;
                        .img4{
                            width: 202px;
                            padding: 69px 2px 17px 0px;
                        }
                        .title4{
                            margin-top: -10px;
                            margin-bottom: -33px;
                        }
                        .text5{
                            padding-right: 0px;
                            margin-bottom: -4px;
                            padding-left: 26px;
                        }
                        .btn4{
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
}